{% extends 'base.html' %}

{% block content %}
    <article class="single-post">
        <header class="post-header">
            <h1 class="post-title">{{ blog_post.title }}</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_post' slug=blog_post.slug %}" class="edit-button">Editar Post</a>
            {% endif %}
            <div class="post-meta">
                Published on {{ blog_post.created_at|date:"F j, Y" }}
            </div>
        </header>

        {% if blog_post.summary %}
            <div class="post-summary">
                {{ blog_post.summary }}
            </div>
        {% endif %}

        <div class="post-content">
            {{ blog_post.main_content|linebreaks }}
        </div>

        <footer class="post-footer">
            <a href="{% url 'index' %}" class="back-link">Back to Blog</a>
        </footer>

    </article>
{% endblock %}