{% extends 'base.html' %}

{% block content %}
    <article class="single-post">
        <header class="post-header">
            <h1 class="post-title">{{ blog_post.title }}</h1>
            {% if user.is_superuser %}
                <a href="{% url 'edit_post' slug=blog_post.slug %}" class="post-action edit-post">Edit Post</a>
                <form method="POST" action="{% url 'delete_post' slug=blog_post.slug %}" class="delete-form" id="deleteForm" onsubmit="return confirmDelete(event)" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="post-action delete-post">Delete Post</button>
                </form>
            {% endif %}
            <div class="post-meta">
                Published on {{ blog_post.created_at|date:"F j, Y" }}
            </div>
        </header>

        {% if blog_post.summary %}
            <div class="post-summary">
                {{ blog_post.summary }}
            </div>
        {% endif %}

        <div class="post-content">
            {{ blog_post.main_content|linebreaks }}
        </div>
        <div class="post-author">
            Posted by: {{ blog_post.author }}
        </div>   
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'comment' slug=blog_post.slug %}" class="comment-form">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="comment-button">Add Comment</button>
        </form>
        {% endif %}

        <div class="comments-section">
            <h3>Comments</h3>
            {% for comment in comments %}
                <div class="comment">
                    <p class="comment-author">Posted by: {{ comment.author.username }}</p>
                    <p class="comment-date">Published on {{ comment.created_at|date:"F j, Y" }}</p>
                    <div id="comment-content-{{ comment.id }}" class="comment-content">
                        Comment: <br>{{ comment.comment }}
                    </div>
                    {% if user == comment.author %}
                    <a href="{% url 'edit_comment' id=comment.id %}" class="edit-button">Edit Post</a>
                    <form action="{% url 'delete_comment' id=comment.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete Comment</button>
                    </form>
                    {% endif %}
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}

            {% if comments.has_previous %}
                <a href="?{{ query_string }}&page={{ comments.previous_page_number }}">Previous</a>
            {% endif %}

            {% if comments.has_next %}
                <a href="?{{ query_string }}&page={{ comments.next_page_number }}">Next</a>
            {% endif %}    
        </div>

        <footer class="post-footer">
            <a href="{% url 'index' %}" class="back-link">Back to Blog</a>
        </footer>

    </article>
{% endblock %}